.git
.github
.env
.env.*
.env.backup

node_modules
vendor

public/build
public/hot

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.vscode
.idea
.DS_Store